In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.master("local[*]").appName("SparkSQL").getOrCreate()

In [3]:

# ---- Implementation for no Hadoop pyspark total OS compatibility ----

# Read the CSV file from the URL into a Spark DataFrame
spark_df = spark.read.csv("home_sales_revised.csv", header=True, inferSchema=True)

# ---- Original Implementation -----

# 1. Read in the AWS S3 bucket into a DataFrame.
#from pyspark import SparkFiles
#url = "s3a://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

# Add the CSV file to Spark's distributed cache using SparkFiles
#spark.sparkContext.addFile(url)

# Path to the CSV file within the distributed cache
#distributed_csv_path = SparkFiles.get(url)

# Read the CSV file from the distributed cache into a Spark DataFrame
#spark_df = spark.read.csv(distributed_csv_path, header=True, inferSchema=True)




# Show the contents of the DataFrame
spark_df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [4]:
# 2. Create a temporary view of the DataFrame.

# Create a temporary view named 'home_sales'
spark_df.createOrReplaceTempView("home_sales")

In [5]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?

result = spark.sql("""
    SELECT date_built AS Date_Built, ROUND(AVG(price), 2) AS Average_Price
    FROM home_sales 
    WHERE bedrooms = 4 
    GROUP BY date_built 
    ORDER BY Date_Built, Average_Price
""")
result.show()
# Stop the Spark session

+----------+-------------+
|Date_Built|Average_Price|
+----------+-------------+
|      2010|    296800.75|
|      2011|     302141.9|
|      2012|    298233.42|
|      2013|    299999.39|
|      2014|    299073.89|
|      2015|    307908.86|
|      2016|    296050.24|
|      2017|    296576.69|
+----------+-------------+

In [6]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?


result = spark.sql("""SELECT
    date_built, ROUND(AVG(price), 2) AS Average_Price
FROM home_sales 
WHERE bedrooms = 3 AND bathrooms = 3 GROUP BY date_built ORDER BY date_built""")

result.show()

+----------+-------------+
|date_built|Average_Price|
+----------+-------------+
|      2010|    292859.62|
|      2011|    291117.47|
|      2012|    293683.19|
|      2013|    295962.27|
|      2014|    290852.27|
|      2015|     288770.3|
|      2016|    290555.07|
|      2017|    292676.79|
+----------+-------------+

In [7]:
#  5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?

result = spark.sql("""SELECT
    date_built, ROUND(AVG(price), 2) AS Average_Price
FROM home_sales 
WHERE bedrooms = 3 AND bathrooms = 3 AND floors= 2 AND sqft_living>=2000 GROUP BY date_built ORDER BY date_built""")

result.show()

+----------+-------------+
|date_built|Average_Price|
+----------+-------------+
|      2010|    285010.22|
|      2011|    276553.81|
|      2012|    307539.97|
|      2013|    303676.79|
|      2014|    298264.72|
|      2015|    297609.97|
|      2016|     293965.1|
|      2017|    280317.58|
+----------+-------------+

In [8]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

result = spark.sql("""SELECT view AS views_rating, ROUND(AVG(price),2) as average_price FROM home_sales GROUP BY view HAVING ROUND(AVG(price),2)>=350000 ORDER BY view""")
result.show()
print("--- %s seconds ---" % (time.time() - start_time))

+------------+-------------+
|views_rating|average_price|
+------------+-------------+
|          51|    788128.21|
|          52|    733780.26|
|          53|     755214.8|
|          54|    798684.82|
|          55|    771153.32|
|          56|     718176.4|
|          57|     734340.5|
|          58|    759764.65|
|          59|     791453.0|
|          60|    754939.65|
|          61|    746877.59|
|          62|    759150.14|
|          63|    711614.55|
|          64|    767036.67|
|          65|    736679.93|
|          66|     712475.0|
|          67|    737970.96|
|          68|    716785.44|
|          69|    750537.94|
|          70|    695865.58|
+------------+-------------+
only showing top 20 rows

--- 1.7411401271820068 seconds ---

In [9]:
# 7. Cache the the temporary table home_sales.

spark.sql("CACHE TABLE home_sales")

DataFrame[]

In [10]:
# 8. Check if the table is cached.
is_cached = spark.catalog.isCached('home_sales')
print(is_cached)

True

In [11]:
# 9. Using the cached data, run the query that filters out the view ratings with average price 
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

result =spark.sql("SELECT view AS views_rating, ROUND(AVG(price),2) as average_price FROM home_sales GROUP BY view HAVING ROUND(AVG(price),2)>=350000 ORDER BY view")
result.show()
print("--- %s seconds ---" % (time.time() - start_time))

+------------+-------------+
|views_rating|average_price|
+------------+-------------+
|          51|    788128.21|
|          52|    733780.26|
|          53|     755214.8|
|          54|    798684.82|
|          55|    771153.32|
|          56|     718176.4|
|          57|     734340.5|
|          58|    759764.65|
|          59|     791453.0|
|          60|    754939.65|
|          61|    746877.59|
|          62|    759150.14|
|          63|    711614.55|
|          64|    767036.67|
|          65|    736679.93|
|          66|     712475.0|
|          67|    737970.96|
|          68|    716785.44|
|          69|    750537.94|
|          70|    695865.58|
+------------+-------------+
only showing top 20 rows

--- 1.2703278064727783 seconds ---

In [12]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 


# # ---- Implementation for no Hadoop pyspark total OS compatibility ----

import pyarrow.parquet as pq
import pyarrow as pa

# convert spark dataframe to pandas dataframe then finally to arrow_table
arrow_table = pa.Table.from_pandas(spark_df.toPandas())

# create a arrow .parquet file of the arrow_table
pq.write_table(arrow_table, "home_sales.parquet")

# read parquet arrow table
arrow_table_parquet = pq.read_table("home_sales.parquet")

# convert parquet arrow table to pandas dataframe
parquet_arrow_pandas_df = arrow_table_parquet.to_pandas()

# set the index as date_built for partition in the pandas dataframe
parquet_arrow_pandas_df= parquet_arrow_pandas_df.set_index("date_built")

# save the pandas dataframe to parquet type with partition column and engine of type arrow
parquet_arrow_pandas_df.to_parquet("partitioned_home_sales.parquet", partition_cols=["date_built"], engine="pyarrow")

# ---------Original partitioning implementation--------------

# Save the  DataFrame as Parquet
#spark_df.write.parquet("home_sales.parquet")

# Load the formatted Parquet data
#spark_df_parquet = spark.read.parquet("home_sales.parquet")

# Partition the data by the date_built column and save it as a new Parquet file with partitioning
#spark_df_parquet.write.partitionBy("date_built").parquet("partitioned_home_sales.parquet")

In [13]:
# 11. Read the formatted parquet data.


# ---- Implementation for no Hadoop pyspark total OS compatibility ----

import os

# obtain path of each arrow partitions
partitions = [partition for partition in os.listdir("partitioned_home_sales.parquet") if os.path.isdir(os.path.join("partitioned_home_sales.parquet", partition))]

# create a object to unify all partitions into single one table 
merged_partitions = None

# Loop through each partition and read its contents
for partition in partitions:

    # get the full path alltogether for each partition
    partition_path = os.path.join("partitioned_home_sales.parquet", partition)

    # create an arrow table for the partition obtained
    arrow_table_partitioned = pq.read_table(partition_path)

    # convert that partitioned arrow table to pandas dataframe then finally to a spark dataframe
    spark_df_partitioned = spark.createDataFrame(arrow_table_partitioned.to_pandas())

    # check  merged_partitions intialization
    if merged_partitions is None:
            # assign the first partitioned spark dataframe
            merged_partitions = spark_df_partitioned
            continue
    # union each spark dataframe into a single partition
    merged_partitions = merged_partitions.union(spark_df_partitioned)

    # Optional print each partition
    print(f"Contents of partition {partition}:")
    spark_df_partitioned.show()

#----------- original implementation-----------

#spark_df_parquet_partitioned = spark.read.parquet("partitioned_home_sales.parquet")
#spark_df_parquet_partitioned.show()

Contents of partition date_built=2010:
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|8d54a71b-c520-44e...|2019-07-21|323956|       2|        3|       1506|   11816|     1|         0|  25|
|f5e01433-f7b0-44e...|2021-03-10|335326|       4|        3|       1588|   14107|     1|         0|   8|
|15a5830f-1529-4c5...|2019-07-06|843191|       3|        6|       5086|   14637|     2|         0|  91|
|63640c17-973d-4f5...|2019-11-14|148400|       2|        3|       2338|   11275|     2|         0|   5|
|209c1286-0834-463...|2021-07-04|395178|       3|        2|       1504|    9617|     2|         0|  37|
|bb2ff269-f08f-4e8...|2022-03-06|429030|       3|        3|       2049|   11882|     2|         0|  23|
|2d6d6575-aaf2-4ae...|2022-03-11|399296|       2|        3|       2306|    8079|     1|         0|  50|
|a8673552-5c99-40d...|2022-03-26|188992|       4|        3|       2121|    8176|     1|         0|  24|
|7c79d1e1-d8c1-4c9...|2019-08-25|207040|       3|        2|       2130|   10721|     2|         0|   4|
|4174271b-8234-4b6...|2022-01-25|310022|       4|        3|       1732|   13145|     1|         0|  23|
|e69a029e-e93d-42a...|2022-03-31|202861|       3|        3|       1573|   10212|     1|         0|  48|
|2792bb6d-ea02-4e2...|2021-02-09|360444|       3|        3|       2383|   12503|     2|         0|  29|
|75b49f11-fa91-4f1...|2019-01-14|136238|       2|        2|       2096|   11393|     2|         0|   4|
|f305e381-e4ed-409...|2020-09-07|228706|       2|        2|       1565|   13901|     1|         0|  18|
|30e7c747-3b60-4ab...|2022-03-02|249514|       2|        2|       2429|   14998|     1|         0|  39|
|e91ea034-8164-44a...|2020-10-14|182173|       4|        2|       1938|    8964|     2|         0|  21|
|7aefac6d-67d9-44d...|2022-05-22|128073|       2|        2|       2096|   14835|     1|         0|  16|
|a0cdbd3e-a851-4f4...|2021-09-03|292036|       4|        2|       1559|    8204|     2|         0|  13|
|984b425b-0872-42e...|2019-01-14|149853|       3|        3|       2325|    9492|     1|         0|  36|
|944e8a2d-34a7-4f0...|2019-09-25|267722|       3|        2|       2394|    9689|     2|         0|  17|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

Contents of partition date_built=2011:
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f876d86f-3c9f-42b...|2019-02-27|167864|       3|        3|       2471|   13924|     2|         0|  15|
|f1e4cef7-d151-439...|2019-02-01|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|437958|       3|        3|       2356|   11052|     1|         0|  26|
|5a55a233-f534-407...|2020-07-21|288365|       4|        2|       1643|   14886|     2|         0|  29|
|8e05076c-0c64-429...|2022-06-03|381358|       4|        3|       2190|   13460|     1|         0|  46|
|731d14ac-9dd1-4e5...|2021-03-27|323749|       4|        2|       2427|   14387|     2|         0|  21|
|d03391c1-cfd4-4d1...|2022-04-01|158791|       3|        3|       2371|   12585|     2|         0|  23|
|572de7af-d55c-431...|2020-08-23|138467|       4|        3|       2408|   14326|     1|         0|  45|
|ab7129d8-82b2-4f0...|2021-12-30|310974|       4|        2|       1522|   14845|     2|         0|  21|
|f1a0d2cc-a288-4b2...|2020-03-18|217946|       2|        3|       2432|   10575|     2|         0|  18|
|34958f82-f0bc-446...|2021-12-05|421050|       4|        2|       2225|   13330|     2|         0|  37|
|6f411257-1ab1-490...|2019-10-04|336711|       2|        2|       1787|   10918|     2|         0|   2|
|b7733d82-744a-44d...|2020-08-01|224063|       3|        3|       1618|    9101|     2|         0|   4|
|a3f98ec2-c1f7-4e4...|2019-12-19|327522|       2|        3|       2191|   13783|     2|         0|  45|
|3393932a-d126-40a...|2020-07-28|332130|       4|        2|       1811|    8133|     1|         0|   1|
|bc9251ba-ca55-416...|2020-08-25|201499|       4|        2|       2388|    8181|     2|         0|  15|
|1e2e47fb-7ba9-449...|2020-02-13|377101|       4|        2|       2459|   14842|     1|         0|  30|
|4da42620-fc6a-44d...|2022-02-20|433902|       4|        2|       1975|   12030|     2|         0|  48|
|6997e465-e7e9-403...|2019-01-19|233523|       4|        2|       1784|   10125|     1|         0|  47|
|b030a0d9-8c9b-41d...|2020-06-15|171960|       2|        3|       2342|    8329|     2|         0|  18|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

Contents of partition date_built=2012:
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|d04f2255-6614-44b...|2020-07-22|249441|       2|        2|       1808|   12977|     2|         0|  17|
|7c24b34e-03b8-4eb...|2020-08-18|214584|       3|        2|       2024|   11836|     2|         0|  33|
|eb92915b-c0dc-45a...|2021-12-31|395125|       2|        2|       2027|   12092|     2|         0|  29|
|ffc3b5af-2180-445...|2020-07-20|301886|       4|        2|       2387|   10259|     2|         0|  41|
|241c4f9c-ede3-456...|2021-07-19|422956|       2|        2|       1627|   13477|     1|         0|  19|
|221d5995-f497-475...|2019-10-22|283262|       2|        2|       2151|   11755|     1|         0|  10|
|daf0ed32-a4cd-438...|2020-12-08|245081|       3|        2|       2395|    8956|     1|         0|  46|
|503722a6-f2d6-44c...|2019-09-09|132268|       2|        3|       1868|   13182|     2|         0|  33|
|202f4b95-e1bf-40d...|2021-09-08|236250|       2|        2|       1977|    8608|     2|         0|  22|
|b508414d-40c0-407...|2019-07-12|195216|       3|        3|       1607|   12666|     2|         0|  12|
|88466a29-da92-48b...|2019-04-29|443110|       2|        3|       2222|   14076|     2|         0|  28|
|ecf4221c-d54f-40c...|2020-09-04|406291|       2|        2|       1735|    9751|     1|         0|   7|
|6bbf1912-5323-434...|2020-09-17|399494|       4|        3|       1577|   13042|     1|         0|  38|
|66a1c93e-2e35-460...|2019-03-29|315892|       4|        3|       1581|   14024|     1|         0|  45|
|31f80670-c104-411...|2021-04-17|250726|       4|        2|       2164|    9576|     1|         0|  35|
|2892f8f3-8662-4cf...|2021-12-02|294140|       2|        2|       1634|   14360|     2|         0|   8|
|ab89fbc9-d9b8-46f...|2021-03-07|296514|       2|        3|       2442|   12744|     2|         0|  16|
|6c7475ea-438f-4e3...|2021-09-23|426101|       4|        2|       1508|    8577|     1|         0|  42|
|72043d2f-ad17-478...|2022-01-08|281358|       4|        3|       1802|    8976|     1|         0|  35|
|812333e2-0d8b-49f...|2021-05-29|167575|       2|        2|       1512|   10460|     1|         0|   9|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

Contents of partition date_built=2013:
+--------------------+----------+-------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|  price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+-------+--------+---------+-----------+--------+------+----------+----+
|7530a2d8-1ae3-451...|2021-06-13| 379628|       2|        2|       2235|   14384|     1|         0|  23|
|d6b9fc56-fc83-469...|2021-10-23| 332675|       3|        2|       1515|    8390|     1|         0|  21|
|c12e7b75-fafb-408...|2020-07-07| 151929|       2|        3|       1952|   13274|     2|         0|   9|
|ae3b0e50-4238-421...|2019-10-13| 299056|       4|        3|       1613|   11634|     2|         0|  17|
|4e7589ae-cc76-480...|2019-06-23| 139970|       2|        3|       2192|   10466|     2|         0|   7|
|44b0b335-2cbd-433...|2020-06-04|1467672|       7|        3|       5510|    8269|     1|         1|  93|
|0c686512-f14e-450...|2022-06-12| 391189|       3|        3|       1552|    9659|     2|         0|  31|
|b9c0dba6-0199-4d5...|2022-05-26| 239787|       2|        2|       2200|    8582|     1|         0|  14|
|b26d30c2-8504-414...|2019-12-10| 165844|       4|        2|       2164|    9014|     1|         0|  10|
|7ebca02b-6f74-4c2...|2020-06-13| 212334|       3|        2|       2371|   12164|     2|         0|  23|
|1c912207-ea69-407...|2022-03-16| 234777|       3|        2|       1949|   13028|     1|         0|  41|
|aa7c10bd-8a42-404...|2019-02-09| 191167|       4|        2|       2287|   15000|     1|         0|  10|
|27654698-8cd8-42d...|2022-04-15| 428849|       4|        3|       2221|   10152|     2|         0|  36|
|ae749736-c24d-470...|2021-06-21| 406015|       2|        3|       2245|   11745|     2|         0|  13|
|b1e1c9d0-8cc9-40a...|2021-10-25| 238247|       3|        2|       2307|   13214|     2|         0|  32|
|da5df765-7cb5-415...|2021-07-06| 332702|       2|        2|       2232|   13063|     1|         0|   6|
|05fad77b-a7bb-4b4...|2020-11-01| 274348|       2|        3|       1709|   10836|     2|         0|  35|
|37e9267d-e7a4-465...|2022-05-28| 885325|       4|        3|       4617|    9853|     3|         0|  50|
|3a454cdb-6502-4d4...|2019-11-08| 137382|       4|        3|       1948|   14066|     2|         0|   4|
|e9e8b680-015a-487...|2019-03-01| 344024|       3|        3|       2489|   10346|     1|         0|  43|
+--------------------+----------+-------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

Contents of partition date_built=2014:
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|43de979c-0bf0-4c9...|2019-04-12|417866|       2|        2|       2127|   10575|     2|         0|   0|
|0a2bd445-8508-4d8...|2021-12-30|337527|       2|        3|       1926|   12556|     1|         0|  23|
|0be5f2fd-e2ca-46c...|2020-04-30|189137|       3|        2|       2021|    8788|     1|         0|  42|
|38734ead-26b0-4d3...|2019-04-21|209944|       2|        2|       1646|   11161|     2|         0|  23|
|e252c4ce-b5b2-4ef...|2019-10-28|168463|       3|        3|       2271|    8317|     2|         0|   2|
|a16c1fd3-50c3-4e7...|2020-02-12|372151|       3|        3|       1787|   12012|     2|         0|  16|
|dd1f72c1-9273-47b...|2021-10-22|296834|       2|        3|       1779|   11213|     1|         0|   5|
|f99463dd-c04f-4c4...|2020-08-31|232702|       4|        2|       1717|    9138|     1|         0|  19|
|ddf82ffe-df12-477...|2020-02-06|268775|       4|        3|       2413|    8383|     2|         0|   8|
|1ce21d55-2744-432...|2022-03-30|266254|       4|        2|       1661|   11223|     1|         0|  40|
|4e3e1f11-cab6-4c6...|2019-11-06|210935|       2|        2|       1757|    9373|     1|         0|  19|
|15ae955a-5651-46a...|2019-03-13|348166|       2|        3|       2231|   11923|     2|         0|  34|
|5ddaab68-9440-425...|2021-07-17|442812|       4|        3|       2495|    9091|     2|         0|  50|
|78617d49-c29d-453...|2019-01-17|421594|       4|        3|       1868|   10425|     2|         0|  16|
|406b1d73-3e15-467...|2019-02-06|325842|       3|        2|       2171|   13353|     2|         0|  28|
|05d0bf31-3b7b-414...|2019-03-29|351540|       4|        2|       2419|   11219|     1|         0|  13|
|a1dd1603-cc3c-448...|2019-02-19|155882|       4|        3|       1918|    9573|     1|         0|  44|
|81b9d2af-40b7-439...|2019-07-02|179557|       2|        2|       2333|    8264|     1|         0|  26|
|0cc0724a-b2e5-4c1...|2019-09-28|185943|       3|        3|       1996|    9607|     1|         0|   5|
|dbe10577-d7ac-444...|2021-11-16|304546|       2|        2|       1576|   13264|     2|         0|  14|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

Contents of partition date_built=2015:
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|2ed8d509-7372-46d...|2021-08-06|258710|       3|        3|       1918|    9666|     1|         0|  25|
|941bad30-eb49-4a7...|2020-05-09|229896|       3|        3|       2197|    8641|     1|         0|   3|
|c797ca12-52cd-4b1...|2019-06-08|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|308313|       3|        3|       1960|    9453|     2|         0|   2|
|d715f295-2fbf-4e9...|2021-05-17|391574|       3|        2|       1635|    8040|     2|         0|  10|
|a18515a2-86f3-46b...|2022-02-18|419543|       3|        2|       1642|   12826|     2|         0|  24|
|98f6a9ad-8870-474...|2022-05-07|136752|       2|        3|       1701|   10771|     2|         0|   5|
|7ac67498-b6f3-403...|2021-05-12|349318|       4|        3|       2417|   11304|     2|         0|  37|
|c9bfdb1c-2499-4e3...|2021-12-07|268874|       2|        2|       1537|   12177|     1|         0|  10|
|34c31a34-220d-469...|2019-02-06|409011|       3|        3|       2356|   10507|     1|         0|   1|
|be0ccb95-415d-411...|2020-05-15|425154|       4|        3|       2120|   14229|     2|         0|   4|
|e9031a86-1294-444...|2021-10-09|222322|       4|        3|       1928|   10510|     1|         0|  38|
|e6d7c2a7-596e-4ec...|2019-03-15|131201|       4|        3|       1633|   14655|     1|         0|  22|
|6683714b-3df7-454...|2022-02-01|333403|       4|        2|       2059|    9793|     2|         0|   4|
|00fc996f-508c-430...|2021-07-15|373139|       3|        3|       1763|   11363|     1|         0|  39|
|3d5545f8-bd3b-476...|2020-09-19|797862|       4|        6|       3494|   10385|     2|         0|  90|
|ec6d357c-2435-43e...|2019-05-28|401792|       3|        2|       1627|   10765|     1|         0|  50|
|c2be38fb-814a-403...|2020-03-20|352237|       3|        3|       2485|   10954|     2|         0|   6|
|9570de1f-5a74-45b...|2021-11-29|298453|       3|        2|       2222|   10634|     1|         0|   6|
|1baeff4f-fc00-489...|2020-12-17|152775|       3|        2|       1623|   13851|     1|         0|  41|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

Contents of partition date_built=2016:
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|936923|       4|        3|       3167|   11733|     2|         1|  76|
|b672c137-b88c-48b...|2019-10-16|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e81aacfe-17fe-46b...|2020-06-16|181925|       3|        3|       2137|   11709|     2|         0|  22|
|dd61eb34-6589-4c0...|2021-07-25|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f233cb41-6f33-4b0...|2021-07-18|437375|       4|        3|       1704|   11721|     2|         0|  34|
|4566cd2a-ac6e-435...|2019-07-15|177541|       3|        3|       2130|   10517|     2|         0|  25|
|e0fc52aa-c349-4ba...|2019-04-17|202790|       3|        3|       2025|   10987|     2|         0|  19|
|2dc662fe-57b8-44b...|2020-04-20|417215|       4|        2|       2104|    8227|     2|         0|  48|
|d5f2062a-8950-417...|2019-09-02|305980|       4|        2|       1799|   13004|     1|         0|  26|
|513c8016-c85b-4f6...|2019-04-13|138006|       4|        2|       1780|   14211|     2|         0|  12|
|08784e80-3b51-483...|2020-04-28|273544|       2|        3|       1664|   10137|     2|         0|  22|
|77a2d239-67a3-43b...|2021-06-18|396508|       3|        3|       1890|   10081|     2|         0|  25|
|f470d9ea-5edb-4e2...|2019-05-14|441656|       3|        2|       2434|   14563|     2|         0|  36|
|7c8448c9-d6a7-46a...|2021-01-25|137482|       2|        2|       2353|   11308|     2|         0|  49|
|7acb88a1-8a4f-4a7...|2019-03-31|351363|       3|        3|       1771|   13037|     2|         0|  13|
|01c9ef98-40a7-4f8...|2019-07-27|322051|       4|        2|       2195|   13510|     1|         0|  13|
|ede93538-bd44-434...|2021-03-02|283444|       4|        3|       1942|    8083|     2|         0|  36|
|00ce46df-952c-4ce...|2020-05-11|430471|       3|        3|       1935|   13334|     2|         0|  10|
|63aefaa5-a03b-4c0...|2020-04-28|196895|       2|        3|       2043|   13617|     2|         0|  34|
|c4495471-5dc3-42d...|2021-08-19|294828|       4|        2|       2215|    9393|     2|         0|  46|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

Contents of partition date_built=2017:
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|e0726d4d-d595-407...|2022-01-08|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|419199|       2|        3|       2062|    8876|     2|         0|   6|
|50873b8b-92b8-44c...|2022-06-05|268554|       3|        3|       1962|   13955|     2|         0|   6|
|164f451a-413b-469...|2022-04-26|377485|       2|        2|       1937|    9033|     2|         0|  23|
|a818abe9-fec6-48d...|2019-08-20|334284|       4|        2|       2378|   12034|     2|         0|  38|
|0ffe23e3-9d0f-442...|2021-11-18|429183|       3|        3|       2162|   12567|     1|         0|  49|
|141ef834-60cf-42e...|2021-10-13|399016|       2|        3|       1773|   13699|     1|         0|  23|
|1daf46c7-f059-4b3...|2020-12-16|148840|       2|        2|       2444|    8267|     2|         0|  32|
|fd8213d0-3872-4de...|2020-04-23|858900|       4|        5|       4465|    9873|     1|         1|  53|
|02fb596e-2db7-458...|2022-02-07|408740|       2|        2|       1638|   10328|     1|         0|   4|
|cd8dfd79-b501-476...|2020-06-12|187924|       2|        2|       1721|    9308|     1|         0|  33|
|24ba1e84-88a6-4e3...|2019-09-17|207869|       3|        3|       1768|   11426|     1|         0|  12|
|ac3240b6-b066-40b...|2019-03-10|193148|       3|        2|       1721|   13277|     1|         0|  33|
|2747ff2f-f844-4fa...|2021-12-04|148755|       4|        2|       2471|   10734|     1|         0|  18|
|56d1b8d5-965c-4b9...|2019-03-01|250902|       2|        3|       1918|   11750|     2|         0|  32|

In [14]:
# 12. Create a temporary table for the parquet data.


# ---- Implementation for no Hadoop pyspark total OS compatibility ----

merged_partitions.createOrReplaceTempView("partitioned_home_sales")

# ---------Original Implementation----------

#spark_df_parquet_partitioned.createOrReplaceTempView("partitioned_home_sales")

In [15]:
# 13. Run the query that filters out the view ratings with average price of greater than or eqaul to $350,000 
# with the parquet DataFrame. Round your average to two decimal places. 
# Determine the runtime and compare it to the cached version. 


# as we are using the pandas partitioned type is not optimized to actual improve the time
# for the cached version, original implementation must be used to achieve this cases
# unfortunately time will be greather than original hadoop parquet partitioned data way to structure

start_time = time.time()

result = spark.sql("SELECT view AS views_rating, ROUND(AVG(price),2) as average_price FROM partitioned_home_sales GROUP BY view HAVING ROUND(AVG(price),2)>=350000 ORDER BY view")
result.show()
print("--- %s seconds ---" % (time.time() - start_time))

+------------+-------------+
|views_rating|average_price|
+------------+-------------+
|          51|    788128.21|
|          52|    733780.26|
|          53|     755214.8|
|          54|    798684.82|
|          55|    771153.32|
|          56|     718176.4|
|          57|     734340.5|
|          58|    759764.65|
|          59|     791453.0|
|          60|    754939.65|
|          61|    746877.59|
|          62|    759150.14|
|          63|    711614.55|
|          64|    767036.67|
|          65|    736679.93|
|          66|     712475.0|
|          67|    737970.96|
|          68|    716785.44|
|          69|    750537.94|
|          70|    695865.58|
+------------+-------------+
only showing top 20 rows

--- 166.80833864212036 seconds ---

In [16]:
# 14. Uncache the home_sales temporary table.
spark.sql("UNCACHE Table home_sales")

DataFrame[]

In [17]:
# 15. Check if the home_sales is no longer cached
is_cached = spark.catalog.isCached('home_sales')
print(is_cached)
spark.stop()

False